@import "reset.scss";
@import "mixins.scss";
@import "colors.scss";
@import "typography.scss";

/*------------------------------------------------------------------------------

		header

------------------------------------------------------------------------------*/

header[role="banner"] {
	background-color: $body-copy;
	height: 60px;
	svg#logo {
		margin: 20px 0 0 20px;
	}
}

/*------------------------------------------------------------------------------

		footer

------------------------------------------------------------------------------*/

footer {
	margin: 2em auto 0 auto;
	background-color: $body-copy;
	overflow: auto;
	p {
		@include font-serif;
		color: white;
		font-size: 1em;
		letter-spacing: 0.02em;
		margin-bottom: auto;
		text-align: center;
	}
}

footer svg#logo {
	display: block;
	margin: 40px auto 20px;
}

footer ul {
	text-align: center;
}

footer li {
	@include trans-ease;
	display: inline-block;
	height: 36px;
	margin: 0 5px;
	position: relative;
	vertical-align: bottom;
	width: 36px;
}

footer li.twitter-icon {
	background-color: white;
	svg {
		position: relative;
		top: 8px;
	}
	&:hover, &:active, &:focus {
		background-color: $secondary;
		#birdy {
			fill: white;
		}
	}
	margin: 0 0 20px 0;
}

.copyright, .affiliate {
	font-size: 0.75em;
}

.copyright {
	margin-bottom: 1em;
}

.affiliate {
	margin-bottom: 2em;
}

@media screen and (min-width: 1000px) {
	.copyright {
		float: left;
		margin: 0 0 20px 20px;
		text-align: left;
	}
	
	.affiliate {
		float: right;
		margin: 0 20px 20px 0;
		text-align: right;
	}
}

.affiliate a {
	@include font-sans;
	@include trans-ease;
	color: white;
	font-style: normal;
	text-decoration: none;
	&:hover, &:focus, &:active {
		color: $secondary;
	}
}

/*------------------------------------------------------------------------------

		layout

------------------------------------------------------------------------------*/

article, .article {
	max-width: 36em;
	margin: 0 auto 7em;
}

.inner-wrapper {
	padding: 0 20px;
}

/*------------------------------------------------------------------------------

		link box

------------------------------------------------------------------------------*/

.link-wrapper {
	margin-top: 45px;
	position: relative;
}
.link-container {
	@include font-sans;
	bottom: 0;
	color: #000;
	display: inline-block;
	font-weight:bold;
	left: 50%;
	overflow: hidden;
	padding:10px 20px;
	position:absolute;
	transform: translate(-50%, 0%);
	-ms-transform:translate(-50%,0%);
	-webkit-transform:translate(-50%,0%);
 	h5 {
		font-size: 1em;
		margin-bottom: 0;
		transition: color 0s ease-out 0.375s;
	}
}

.link-container:hover h5 {
	color:$primary;
	transition: color 0s ease-out 0.375s;
}
.bottom-edge {
	position:absolute;
	bottom:0px;
	left:50%;
	width:30px;
	height:3px;
	background-color:#000;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transition:width ease .125s .25s;
}
.link-container:hover .bottom-edge {
	width:100%;
	transition:width ease .125s;
}
.side-edge,
.top-edge {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.side-edge:before,
.side-edge:after {
	content:"";
	position:absolute;
	bottom:0px;
	width:3px;
	height:0%;
	background-color:#000;
	transition:height ease .125s .125s;
}
.side-edge:before {
	left:0px;
}
.side-edge:after {
	right:0px;
}
.link-container:hover .side-edge:before,
.link-container:hover .side-edge:after {
	height:100%;
}
.top-edge:before,
.top-edge:after {
	content:"";
	position:absolute;
	top:0px;
	width:0px;
	height:3px;
	z-index:999;
	background-color:#000;
	transition:width ease .125s;
}
.top-edge:before {
	left:0px;
}
.top-edge:after {
	right:0px;
}
.link-container:hover .top-edge:before {
	left:0px;
	width:50%;
	transition:width ease .125s .25s;
}
.link-container:hover .top-edge:after {
	right:0px;
	width:50%;
	transition:width ease .125s .25s;
}

//------------------------------------------------------------------------------
//
//		search form
//
//------------------------------------------------------------------------------

form.search-form {
	display: block;
	left: 50%;
	min-width: 263px;
	position: absolute;
	transform: translateX(-50%);
}

form.search-form input[type="search"] {
	background: #f4f4f4;
	border: none;
	border-left: solid 3px $body-copy;
	font-family: $font-body;
	font-size: 1em;
	padding: 0.4em 0.5em;
}

form.search-form input[type="submit"] {
	@include font-sans;
	background: white;
	border: solid 3px $body-copy;
	font-size: 1em;
	padding: 0.25em 0.5em;
	transition: all ease 0.25s;
	&:hover {
		color: $primary;
	}
}

.query h1 {
	margin-bottom: 0px;
}
.query h6 {
	font-size: 2em;
}

//	search form in header.php

header form.search-form {
	left: auto;
	right: 20px;
	top: 44px;
	transform: none;
}

header form.search-form input[type="submit"] {
	background: none;
	border: solid 3px white;
	color: white;
	font-weight: 300;
}
/*------------------------------------------------------------------------------

		#share

------------------------------------------------------------------------------*/

.twitter-icon svg {
	left: 1px;
	position: relative;
	top: 8px;
}

.facebook-icon svg {
	left: 4px;
	position: relative;
	top: 5px;
}

.linkedin-icon svg {
	position: relative;
	top: 6px;
}

.email-icon svg {
	position: relative;
	top: 10px;
}

.hero-image,
.featured-image,
.social-share {
	li {
		@include trans-ease;
		background-color: $body-copy;
		display: inline-block;
		height: 36px;
		margin: 0 5px;
		position: relative;
		vertical-align: bottom;
		width: 36px;
		&:hover, &:active, &:focus {
			background-color: $secondary;
		}
	}
	ul {
		padding: 0;
		text-align: center;
		min-width: 196px;
	}
	h5 {
		text-align: center;
	}
}

.hero-image ul {
	bottom: -14px;
	left: 50%;
	line-height: 0;
	transform: translateX(-50%);
	position: absolute;
}


/*------------------------------------------------------------------------------

		comments

------------------------------------------------------------------------------*/

section[role="comments"] {
	h5 {
		text-align: center;
		margin-bottom: 0;
	}
}


/*------------------------------------------------------------------------------

		content area (single post or page)

------------------------------------------------------------------------------*/


.hero-image {
	background-color: $primary;
	margin-bottom: 63px;
	padding: 20px 0 20px;
	position: relative;
	width: 100%;
	img {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 600px; 
		width: 100%;
	}
	a {
		border: 0;
		padding: 0;
		&:hover, &:active, &:focus, &:visited {
			background: none;
		}
	}
}

hgroup {
	text-align: center;
	margin: auto auto;
	width: 85%;
	h1{
		margin: 0 auto 30px;
		width: 85%;
		word-break: keep-all;
	}
	h6 {
		color: $primary;
		margin: 0 auto 40px;
	}
	@media screen and (max-width: 25em) {
		h1 {
			font-size: 1.75em;
		}
	}
}


section {
	&.author {
		@include font-sans;
		font-size: 0.75em;
		text-align: center;
	}
	.author-style {
		@include font-serif;
		font-size: 0.625em;
		text-transform: lowercase;
	}
}

hr {
		background-color: $body-copy;
		border: none;
		height: 3px;
		margin: 10px auto 15px;
		width: 30px;
}

.social-share {
	margin: 3em auto 3.5em;
}

/*------------------------------------------------------------------------------

		link styles in content area

------------------------------------------------------------------------------*/

article[role="main"] .content-area  {
	a, a:visited {
		border-bottom: solid 0.5em lighten($secondary, 25%);
		border-style: inset;
		display: inline-block;
		line-height: 0.75em;
		padding: 0 0.25em;
		text-decoration: none;
	}
	@media screen and (min-width: 616px) {
		 a:hover, a:active, a:focus {
			color: white;
			background-color: $secondary;
			border: 0;
			line-height: inherit;
		}
	}
}

/*------------------------------------------------------------------------------

		wp images in content area

------------------------------------------------------------------------------*/

article[role="main"] .content-area {
	a[href$=jpg], a[href$=png], a.bctt-ctt-btn {
		border: 0;
		display: inline;
		line-height: 0;
		padding: 0;
		&:hover {
			background: none;
		}
	}
}

article[role="main"] .content-area {
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: auto auto 1em auto;
	}
	img.alignright, a img.alignright {
		@media screen and (min-width: 600px) {
			float:right;
			margin:0 0 0.25em 1em;
		}
		@media screen and (min-width: 700px) {
			margin-right: -2em;
		}
		@media screen and (min-width: 800px) {
			margin-right: -4em;
		}
		@media screen and (min-width: 900px) {
			margin-right: -6em;
		}
	}
	img.alignleft, a img.alignleft {
		@media screen and (min-width: 600px) {
			float:left;
			margin:0 1em 0.25em 0;
		}
		@media screen and (min-width: 700px) {
			margin-left: -2em;
		}
		@media screen and (min-width: 800px) {
			margin-left: -4em;
		}
		@media screen and (min-width: 900px) {
			margin-left: -6em;
		}
	}
	img.aligncenter, a img.aligncenter {
		display: block;
		margin: auto auto 1em auto;
	}
}

/*------------------------------------------------------------------------------

		pull quote in content area

------------------------------------------------------------------------------*/

article[role="main"] .content-area {
	blockquote > p {
		@include font-serif;
		border-bottom: solid 3px $body-copy;
		border-top: solid 3px $body-copy;
		color: $primary;
		display: block;
		font-size: 1.25em;
		font-weight: 300;
		line-height: 1.4;
		margin: 0 auto 1em;
		padding: 1em;
		text-align: center;
		width: 70%;
	}
	
	@media screen and (min-width: 650px) {
	blockquote > p {
		border: 0;
		border-left: solid 3px $body-copy;
		float: right;
		margin-bottom: 1em;
		margin-left: 1em;
		padding: 0.25em 0 0.5em 1em;
		text-align: left;
		width: 60%;
		}
	}
	
	@media screen and (min-width: 700px) {
		blockquote > p {
			float:right;
			margin-right: -2em;
			width: 60%;
		}
	}
	
	@media screen and (min-width: 800px) {
		blockquote > p {
			margin-right: -4em;
		}
	}
	
	@media screen and (min-width: 900px) {
		blockquote > p {
			margin-right: -6em;
		}
	}
	
	@media screen and (min-width: 1000px) {
		blockquote > p {
			margin-right: -9em;
		}
	}
}

/*------------------------------------------------------------------------------

		lists in content area

------------------------------------------------------------------------------*/

article[role="main"] .content-area {
	ul, ol {
		padding-bottom: 10px;
		line-height: 1.5em;
		margin-left: 2em;
		font-family: $font-body;
		font-weight: 300;
	}
	ul {
		list-style-type: disc;
		list-style-position: outside;
		list-style-image: none;
		ul {
			padding-bottom: 0;
			ul {
				padding-bottom: 0;
			}
		}
	}
	ol {
		list-style-type: decimal;
		list-style-position: outside;
		list-style-image: none;
		ol {
			list-style-type: upper-alpha;
			margin-left: 2em;
			padding-bottom: 0;
			ol {
				list-style-type: decimal;
				padding-bottom: 0;
				ol {
					list-style-type: lower-alpha;
					padding-bottom: 0;
				}
			}
		}
	}
}

/*------------------------------------------------------------------------------

		code in content area
		
------------------------------------------------------------------------------*/

article[role="main"] .content-area code {
	font-family: 'Source Code Pro', Courier, monospace;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.75;
	color: lighten($body-copy, 50%);
}

/*-------------------------------------------------------------------------------

		^ end of content area ^

------------------------------------------------------------------------------*/






/*------------------------------------------------------------------------------

		default list view (index, search, etc)

------------------------------------------------------------------------------*/

.inner-wrapper article hgroup {
	width: 85%;
	margin: 0 auto;
}

@media screen and (max-width: 36em) {
	.inner-wrapper article hgroup {
		width: 90%;
	}
}

.inner-wrapper article hgroup h3 {
	transition: all ease 0.3s;
}

.inner-wrapper article hgroup a:hover h3 {
	color: $primary;
}

/*------------------------------------------------------------------------------

		homepage list vew

------------------------------------------------------------------------------*/

article.homepage {
	display: block;
	margin-bottom: 4.5em;
	max-width: 60em;
	overflow-y: auto;
	padding-bottom: 20px;
	@media screen and (max-width: 34.375em) {
		margin-bottom: 2em;
	}
}

.homepage .featured-image {
	background: $primary;
	display: block;
	float: left;
	margin-right: 2em;
	padding: 20px 0;
	position: relative;
	width: 40%;
	img {
		height: auto;
		max-width: 100%;
	}
}

.homepage .featured-image ul {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -18px;
}

.homepage .content {
	display: block;
	margin-left: calc(40% + 2em);
	hgroup {
		margin-top: 20px;
		width: 100%;
	}
	h3, p {
		text-align: left;
	}
	.link-container {
		left: auto;
		transform: none;
	}
}

@media screen and (max-width: 43.75em) { // 700px
	.homepage .featured-image {
		background: $primary;
		float: none;
		margin: auto auto;
		padding: 1em 4em 1.5em;
	}
	.homepage .content {
		margin: 2.5em auto 0;
		max-width: 36em;
		h3 {
			text-align: center;
			margin: 0 auto;
			max-width: 80%;
		}
		.link-container {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

@media screen and (max-width: 34.375em) {
	.homepage .featured-image {
		width: 100%;
		padding: 20px 0;
	}
}


/*------------------------------------------------------------------------------

		homepage title block

------------------------------------------------------------------------------*/

hgroup:first-of-type {
	
}

.logotype {
	font-size: 5em;
	margin: 0.75em auto 0.1em auto;
	text-align: center;
	h4 {
		font-size: 1.25em;
		margin-bottom: 3em;
	}
}

.logo-q {
	font-family: 'Montserrat Alternates';
	margin-left: -4px;
}

/*------------------------------------------------------------------------------

		homepage feature

------------------------------------------------------------------------------*/

article.homepage:first-of-type {
	.featured-image {
		display: block;
		float: none;
		margin-right: 0;
		margin-top: 2em;
		width: 100%;
		img {
			display: block;
			margin: 0 auto;
			width: 80%;
		}
	}
	.content {
		float: none;
		margin: 3em auto 4.5em;
		text-align: center;
		width: 36em;
		hgroup {
			width: 80%;
		}
		h3 {
			text-align: center;
		}
		.link-container {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	@media screen and (max-width: 34.375em) {
		.content {
			width: 100%;
			margin-bottom: 2em;
		}
		.featured-image img {
			width: 100%;
		}
	}
}

/*------------------------------------------------------------------------------

		404.php

------------------------------------------------------------------------------*/

.featured-image.fourohfour {
	height: 210px;
	h1 {
		@include font-sans;
		color: white;
		font-size: 10em;
		margin-top: 0.25em;
		text-align: center;
	}
}
