@mixin font-sans {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-style: normal;
	text-transform: uppercase;
}
@mixin font-serif {
	font-family: 'Playfair Display', Georgia, serif;
	font-style: italic;
	font-weight: 300;
}
$font-body: 'Source Sans Pro', Helvetica, sans-serif;

h1, .h1 {
	@include font-sans;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 1em;
}

h2, .h2 {
	@include font-serif;
	font-size: 2em;
	margin-bottom: 1em;
	line-height: 1.333;
}

h3, .h3 {
	@include font-sans;
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 1em;
}

h4, .h4 {
	@include font-serif;
	font-size: 1.5em;
	line-height: 1.333;
	margin-bottom: 1em;
}

h5, .h5 {
	@include font-sans;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 1em;
}

h6, .h6 {
	@include font-serif;
	font-size: 1.25em;
	line-height: 1.333;
	margin-bottom: 1em;
}

p {
	font-family: $font-body;
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.75;
	margin-bottom: 1.125em;
}

a {
	text-decoration: none;
}

